<h1 class="text-center mt-4 font-weight-bold"> <%=Student.find(params[:student_id]).full_name%>' grades </h1>
<div class="container-fluid mt-4" style="width: 70%;">
  <table class="table table-bordered table-dark table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 14%;" class="text-center">Grade</th>
        <th scope="col" style="width: 14%;"class="text-center">Weight</th>
        <th scope="col" style="width: 44%;"class="text-center">Comments</th>
        <th scope="col" style="width: 30%;"class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @grades.each do |grade| %>
        <tr>
          <td class="text-center">
            <%= grade.value %>
          </td>
          <td class="text-center">
            <%= grade.weight %>
          </td>
          <td class="text-center">
            <%= grade.comments %>
          </td>
          <td class="text-center"> 
            <%= link_to "Edit grade", edit_grade_path(grade, student_id: params[:student_id], subject_id: params[:subject_id]),class: "badge badge-pill badge-info mr-4" %>
            <%= link_to "Delete grade", grade_path(grade,student_id: params[:student_id], subject_id: params[:subject_id]), method: :delete, class: "badge badge-pill badge-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

