<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <a class="navbar-brand" >Diary+</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if logged_in? %>
        <li class="nav-item active">
          <a class="nav-link font-weight-bold text-white" href="/main">HOME PAGE<span class="sr-only">(current)</span></a>
        </li>
      <% end %>

      <% if logged_in? && (is_student? || is_teacher?) && !is_admin? %>
        <li>
          <%= link_to "My Subjects", subjects_path, class:"nav-link text-white" %>
        </li>
      <% end %>

      <% if logged_in? && is_admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Subjects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Subjects", subjects_path, class: "dropdown-item" %>
            <%= link_to "Add new Subject", new_subject_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>

    <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Delete your profile", user_path(current_user), method: :delete,data: { confirm: "Are you sure"}, class: "dropdown-item text-danger" %>
        </div>
      </li>
    
    <% end %>
  </ul>

    <form class="form-inline my-2 my-lg-0">
      <% if logged_in? %>
        <div class="font-weight-bold">
          <div class="mr-4">
            <%= "[ADMIN]" if is_admin? %>
            <%=  "[TEACHER]" if is_teacher?  %>
            <%= "[TUTOR]" if is_tutor? %></b>
            <%= "[STUDENT]" if is_student? %>
          </div>
        </div>
        <div class="font-weight-bold">
          <%= current_user.name %> <%= current_user.surname %>
        </div>
        <button type="button" class="btn btn-danger ml-4"><%= link_to 'Logout', logout_path, class: "nav-link text-white ", method: :delete %></button>
      <%end%>

    </form>
  </div>
</nav>